.fullsize {
  height: 80vh;
  width: 100%;
  padding: 2%;
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}
.fullsize .contentContent {
  height: 80vh;
}
.fullsize .contentContent .contentControls {
  height: 5vh;
  margin-bottom: 20px;
}
.fullsize .chatSession {
  padding: 2%;
  border: 2px solid black !important;
  height: 80vh;
}
.fullsize .topRow {
  margin-top: 30px !important;
}
